.MainPic{
    width: 100%;
    height: 480px;
}

.heading{
    position:absolute;
    top:35%;
    font-size: 36px;
    left:25%;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
}
.quicksearch {
width: 400px;
height: 43px;
margin: 48px 151px 7px 10px;
font-family: Poppins;
font-size: 30px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.53;
letter-spacing: normal;
text-align: left;
color: #192f60;
}
.subheading{
width: 331px;
height: 25px;
margin: 7px 59px 33px 10px;
font-family: Poppins;
font-size: 18px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: left;
color: #8c96ab;
}
.Breakfast{
width: 160px;
height: 160px;
object-fit:fill;
}

.one{
    height: 160px;width: 360px;margin: 10px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.innerboxpic
{
    display: inline-block; width: 30%;
}
.secondbox
{
    display: inline-block; width: 66%;vertical-align: top;
}
.breakfastheading{
    margin: 25px 49px 0px 70px;font-family: Poppins;font-size: 18px;font-weight: 600;color: #192f60;
}
.breakfastdescription{
    margin: 10px 49px 0px 70px;font-family: Poppins;font-size: 12px;color: #8c96ab;
}
.two
{
    height:160px;width:360px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);margin: 10px ;
}
.three
{
    height:160px;width:360px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);margin: 10px; 
}
.four
{
    height:160px;width:360px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);margin: 10px;
}
.five
{
    height:160px;width:360px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);margin: 10px;
}
.six
{
    height:160px;width:360px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);margin: 10px;
}
